<div class="remodal-bg">
  <%= render 'classrooms/classroom_banner' %>
  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'classrooms/side_menu' %>
    </div>
    <div class="three-fourths column">
      <%= render partial: 'classrooms/classroom_users' %>
      <%= render partial: 'classrooms/invite_users' %>
    </div>
  </div>
</div>
